body {
    background-color: rgb(18, 18, 18);
}

.codex,
.x {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800 !important;
    color: red;
}

.x {
    display: inline-block;
    color: white;
    transform: skewX(-20deg);
    box-shadow: 5px 5px 3px rgba(255, 0, 0, 0.376);
    border-radius: 20px;
}

.subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
}